@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

<table>
    <tbody>
        <tr>
            <td>
                <img style="border-radius:225px; width:210px; height:210px"
                     src="https://i.pinimg.com/originals/24/1e/22/241e220bb3af884f882bd163492c1dc2.jpg" />
            </td>
            <td>
                Cassandra Tinoco <a href="~/Home/UserProfile" class="Follow">Follow</a></br></br><span id="span1">6</span>Post
                <span id="span2">0</span> Followers <span id="span3">0</span> Following</br></br>
                Welcome to my Dobie Page
            </td>
        </tr>
    </tbody>
</table>
    </br>
<a class="timeline" href="" target="_self">Posts</a>
<a class="timeline" href="" target="_self">Reels</a>
<a class="timeline" href="" target="_self">IGTV</a>
<a class="timeline" href="" target="_self">Tag</a>
    </br>
<table>
    </br>
    <tbody>
        <tr>
            <td>
                <img style="width: 100px; height:100px; border-radius: 50px;"
                     src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555384345/shape/mentalfloss/istock_000072988737_small.jpg" />&nbsp;
            </td>
            <td>
                <img style="width: 100px; height:100px; border-radius: 50px;"
                     src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555384345/shape/mentalfloss/istock_000072988737_small.jpg" />
            </td>
        </tr>
        <tr>
            <td>
                Atlas
            </td>
            <td>
                Zues
            </td>
        </tr>
    </tbody>
</table>
<table>
    <tbody>
        <tr>
            <td>
                <img style="width:300px; height:300px;"
                     src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/12224830/Doberman-Pinscher-standing-outdoors.jpg" />
            </td>
            <td>
                <img style="width:300px; height:300px;"
                     src="https://i.pinimg.com/originals/54/03/c0/5403c00827a8228b618a37eccbd3c987.jpg" />
            </td>
            <td>
                <img style="width:300px;height:300px;"
                     src="https://hellobark.com/wp-content/uploads/the-doberman-team-1.jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <img style="width:300px; height:300px;"
                     src="https://cdn.fstoppers.com/styles/full/s3/photos/195258/07/15/455d72f260d95f37f02fd500ccaa069c.jpg" />
            </td>
            <td>
                <img style="width:300px; height:300px;"
                     src="https://i.pinimg.com/originals/ce/02/2b/ce022bec57893b1681acb2b3a32ef438.jpg" />
            </td>
            <td>
                <iframe width="300px" height="300px;"
                        src="https://www.youtube.com/embed/_5SUJzf3sxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>

        </tr>
    </tbody>
</table>

